header
{
    width: 100vw;
    height: 50vw;
}

section
{
    background-color: palegoldenrod;
    width: 50vw;
    height: 80vh;
    border-radius: 20px;
}
.section-entete {
    background-image: url('../images/fonds_bureau_fonce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.espace {
    background-color: #bacbe6;
    height: 10vh;
    width: 50vw;
}

footer {
    height: 3vw;
    text-align: center;
}
body {

}
article {
    height:70vh;
}

